---
layout: default
---

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
  <h2>{{ page.title }}</h2>

  <!-- {% include toc.html html=content %} -->
  {{ content }}
  {% include disqus_comment.html %}

</article>

<!-- 生成左侧目录 -->
<script src="{{site.baseurl}}/public/js/scrollnav.min.umd.js"></script>
<script src="{{site.baseurl}}/public/js/jquery.min.js"></script>
<script>
    function createNav () {
      const ct = document.querySelector('body > div');  //".post-content"指向文章内容所在的div，需根据实际情况修改
      scrollnav.init(ct, {
        debug: false,
        easingStyle: 'linear',
        //section为一级目录，subsection为二级目录
        sections: 'h2',
        subSections: 'h3',
      });
    }
    // 页面内容过多会导致目录锚点错位，选择延迟加载
    setTimeout(createNav, 1500);
</script>